<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% if css %}
  <style type="text/css">
    {{ css }}
    p {
      margin: 0;
    }
  </style>
  {% endif %}
</head>
<body>
  {# This table is the main container for our email. #}
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td   align="left" valign="top" style="line-height: 1.2;font-family: Arial, Verdana, Helvetica, sans-serif;font-size: 14.0px;color: rgb(54,73,95);text-align: left;display: block;padding: 10.0px 20.0px;">
          <div style="background-color: #f1f1f1; border: 2px solid gray; width: 560px; padding: 25px 35px; margin: auto;">
            <h1>Your Appointment Confirmation Email</h1>
            <hr>
            <p style="margin-top:25px">
              {{ body }}
            </p>
            <p style="text-align: center; margin-top: 40px;">
              <a href="{{ base_domain }}">Arthur Murray Time</a>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>