<!-- Modal -->
<div class="modal fade" id="updateStudentDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Student Department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/update-student-department">
        <div class="modal-body">
            <div class="form-group">
                <label for="student_department_select_list_element">Student Departments List</label>
                <select class="form-control" id="student_department_select_list_element" name="student-department">
                {% if departmentsObject %}
                    <option value="">None</option>
                    {% for dep_id, department in departmentsObject.list %}
                        <option value="{{ dep_id }}">{{ department }}</option>
                    {% endfor %}
                {% endif %}
                </select>
                <input class="form-control" type="hidden" name="id" value="{{ studentId }}">
            </div>
        </div>
        <div class="modal-footer">
	        <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
	        <input class="btn btn-primary" type="submit" value="Update Department">
	    </div>
      </form>
    </div>
  </div>
</div>
