<form class="views-exposed-form" data-drupal-selector="views-exposed-form-studio-business-summary-ami" action="/studio-business-summary" method="get" id="views-exposed-form-studio-business-summary-ami" accept-charset="UTF-8" data-drupal-form-fields="edit-field-date-and-time-value,edit-year,edit-week,edit-submit-studio-business-summary,edit-api-submit" _lpchecked="1">
  <div class="form--inline form-inline clearfix">
    {% include "ami_public_fields_filter.html.twig" %}
  </div>
</form>